In [2]:
#iteraton through arrays

In [3]:
import numpy as np

In [5]:
students = np.array([['diksha','neha','satya','ashok'],
                    [35,40,45,44],
                    [35,38,21,54]])

In [6]:
students

array([['diksha', 'neha', 'satya', 'ashok'],
       ['35', '40', '45', '44'],
       ['35', '38', '21', '54']], dtype='<U6')

In [7]:
type(studentsnts)

numpy.ndarray

In [9]:
#how to iterate over numpy array

In [ ]:
for loop :- simple iteration ---> very stright forward

In [26]:
for i in students:
    print('row =',i)

row = ['diksha' 'neha' 'satya' 'ashok']
row = ['35' '40' '45' '44']
row = ['35' '38' '21' '54']

In [ ]:
flattening a multi dimensional array:-

    #by default numpy will have a row wise splitting

In [19]:
for a in students.flatten(order='f'):
    print(a)

diksha
35
35
neha
40
38
satya
45
21
ashok
44
54

In [ ]:
introduction to nditer:-
---------------------

In [20]:
x=np.arange(12).reshape(3,4)

In [21]:
x

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [24]:
for i in np.nditer(students): #row wise iter
    print(i)

diksha
neha
satya
ashok
35
40
45
44
35
38
21
54

In [ ]:
#column wise interation 

f= forton order iteration

In [34]:
for i in np.nditer(x,order='A'):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [35]:
for i in np.nditer(x,order='K'):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [36]:
for i in np.nditer(x,order='F'):
    print(i)

0
4
8
1
5
9
2
6
10
3
7
11

In [38]:
for i in np.nditer(x,order='C'):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [ ]:
flatten vs nditer ----> interview question

In [ ]:
nditer is the efficient way of doing the iteration

In [ ]:
Array shape maniplation:-
----------------------

In [39]:
country = np.array([['germany','france','hungary','austria'],
                   ['berlin','paris','budapest','vienna']])

In [40]:
country

array([['germany', 'france', 'hungary', 'austria'],
       ['berlin', 'paris', 'budapest', 'vienna']], dtype='<U8')

In [41]:
type(country)

numpy.ndarray

In [43]:
country.shape

(2, 4)

In [46]:
country.ravel()

array(['germany', 'france', 'hungary', 'austria', 'berlin', 'paris',
       'budapest', 'vienna'], dtype='<U8')

In [47]:
(country.ravel()).shape

(8,)

In [48]:
country.shape

(2, 4)

In [49]:
x.ravel()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])