In [1]:
import numpy as np

In [2]:
#understanding statiscal functiuons of Numpy:-

In [6]:
test_scores = np.array([32.33,56.6,85.42,96.23,45.432,41.32,85.5,96.32])

print(test_scores)

[32.33  56.6   85.42  96.23  45.432 41.32  85.5   96.32 ]

In [7]:
type(test_scores)

numpy.ndarray

In [8]:
#req:- I want to calculate the mean of test_scores

In [15]:
print("mean test scores of the students")
print(f"mean of the data {np.mean(test_scores)}") #we are applying the mean method under numpy

mean test scores of the students
mean of the data 67.394

In [16]:
# req:- please find the meadian of the scores

In [17]:
print("median test scores of the students")
print(np.median(test_scores))

median test scores of the students
71.01

In [18]:
#working on dataset provided

In [ ]:
req:- Bringing that to our jupyter envirement

calcualte the below

mean

median

standard deviation

variance

In [ ]:
filename :- salary.cs --> french soware packages salaries...!

In [ ]:
csv ----> comma separated value

In [19]:
x = np.genfromtxt('salary.csv',delimiter=',')

In [25]:
x #elipses...

array([60000., 58000., 56967., ..., 54647., 25000., 70000.])

In [22]:
mean = np.mean(x)
median = np.median(x)
sd = np.std(x)
variance = np.var(x)

In [34]:
print('mean = %i' %mean)
print('median = %i' %median)
print('standard deviation = %i' %sd)
print('variance = %i' %variance)

mean = 55894
median = 48000
standard deviation = 55170
variance = 3043770333

In [35]:
#introduction to iteration

In [38]:
a = np.arange(11)**2 #squaring operations

In [39]:
a

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100], dtype=int32)

In [44]:
for i in a**(0.5):
    print(i)

0.0
1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0

In [45]:
students = np.array([['sivaram','lavanya','neeha','shaku','amritha','vyshu'],
                    [34,32,65,67,78,34],
                    [20,32,43,54,21,43]])

In [46]:
students

array([['sivaram', 'lavanya', 'neeha', 'shaku', 'amritha', 'vyshu'],
       ['34', '32', '65', '67', '78', '34'],
       ['20', '32', '43', '54', '21', '43']], dtype='<U7')

In [52]:
# req:- Here i have to split them out of an array